.header {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color:red;
  box-shadow: 2px 2px 8px rgba(168, 170, 168,0.625);
  .mkt_relative{
    position: relative;
  }
  @import url(http://fonts.googleapis.com/css?family=Lato:400,700|Londrina+Solid);
  /* Master CSS for www.avishai84.com crafted by Avishaiâ„¢ 2015 */
  /*COLORS*/
  /*FONTS*/
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  p,
  ul,
  li {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }
  ::selection {
    background-color: #FF9F00;
  }
  ::-moz-selection {
    background-color: #FF9F00;
  }

  /*--Logo--*/
 
  /*--Nav--*/
  .navbar-fixed-top, .navbar-fixed-bottom{
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    z-index: 10;
  }
  .nav {
    font-size: 2.1em;
  }
  .navbar-fixed-top {
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
  }
  .navbar-fixed-top:before {
    margin-top: 2px;
  }
  .navbar {
    min-height: 20px;
  }
  h1.lead span.dot {
    color: #258dc8;
  }
  h1.lead span.bracket {
    color: #282845;
  }
  h1.lead span.code {
    color: #e8991a;
  }
  .navbar-default {
    /*--Gradient--*/
    background: #d8d8d8;
    background: -moz-linear-gradient(top, #d8d8d8 0%, #f9f9f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d8d8d8), color-stop(100%, #f9f9f9));
    background: -webkit-linear-gradient(top, #d8d8d8 0%, #f9f9f9 100%);
    background: -o-linear-gradient(top, #d8d8d8 0%, #f9f9f9 100%);
    background: -ms-linear-gradient(top, #d8d8d8 0%, #f9f9f9 100%);
    background: linear-gradient(to bottom, #d8d8d8 0%, #f9f9f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8d8d8', endColorstr='#f9f9f9', GradientType=0);
    border-color: #e7e7e7;
  }
  .nav-pills > li.active a {
    background-color: #f59737;
    text-shadow: 1px 2px 1px #000000;
  }
  .nav-pills > li.active a:hover,
  .nav-pills > li.active a:focus {
    background-color: #f59737;
    text-shadow: 1px 2px 1px #000000;
  }
  .nav-pills > li.active a:before {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
  }
  .nav-pills > li.active a:after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
  }
  .nav-pills > li a {
    color: #258dc8;

      /*Effects of brackets*/
      &::before{
        display: inline-block;
        opacity: 0;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
        -moz-transition: -moz-transform 0.3s, opacity 0.2s;
        transition: transform 0.3s, opacity 0.2s;
        margin-right: 10px;
        content: '[';
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        transform: translateX(20px);
      }

      &::after{
        display: inline-block;
        opacity: 0;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
        -moz-transition: -moz-transform 0.3s, opacity 0.2s;
        transition: transform 0.3s, opacity 0.2s;
        margin-left: 10px;
        content: ']';
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        transform: translateX(-20px);
      }

      &::hover{
       
        &::before{
          opacity: 1;
          -webkit-transform: translateX(0px);
          -moz-transform: translateX(0px);
          transform: translateX(0px);
        }

      }
      &::hover{
       
        &::after{
          opacity: 1;
          -webkit-transform: translateX(0px);
          -moz-transform: translateX(0px);
          transform: translateX(0px);
        }

      }
      &::focus{
        &::before{
          opacity: 1;
          -webkit-transform: translateX(0px);
          -moz-transform: translateX(0px);
          transform: translateX(0px);
        }
      }

      &::focus{
        &::after{
          opacity: 1;
          -webkit-transform: translateX(0px);
          -moz-transform: translateX(0px);
          transform: translateX(0px);
        }
      }
  }

}
