.home{
  font-style: italic;
  color:orange;
  display:block;
  text-align:center;
  outline:1px solid grey;
  transition: all 125ms;
    .jumbotron{
      .frontEnd{
        font-size: 80%;
      }
    }
}
