$monster-icon: '👻{';
$smiley-icon: '😃{';
$smileyHeart-icon: '😍{';
$thinker-icon: '🤔{';

.nav-wrapper {
  header{
    nav.fixed-top {
        @media(max-width:991px){
        position:relative; 
        margin-bottom:10%;
        ul.navbar-nav{
          background-color:rgba(255, 255, 255, 0.963); 
        }
      }
      @media(min-width:992px){
        background-color:rgba(255, 255, 255, 0.863); 
        ul.navbar-nav{
          margin:0 auto;
        }
      }
    }
    nav{
      outline:none;
      button{
        outline:none;
      }
      ul.navbar-nav{
        .nav-item{
          &:first-child{
            @media(max-width:991px){
              margin-top:3vh;
            }
            .nav-link.active{
              &::before{
                content:$monster-icon;
                padding-right:4px;
                color:#e8991a;
                opacity:1;
              }
            }
          }
          &:nth-child(2){
            .nav-link.active{
              &::before{
                content:$smiley-icon;
                padding-right:4px;
                color:#e8991a;
                opacity:1;
              }
            }
          }
          &:nth-child(3){
            .nav-link.active{
              &::before{
                content:$smileyHeart-icon;
                padding-right:4px;
                color:#e8991a;
                opacity:1;
              }
            }
          }
          &:last-child{
            .nav-link.active{
              &::before{
                content:$thinker-icon;
                padding-right:4px;
                color:#e8991a;
                opacity:1;
              }
            }
          }
        }
        .nav-link{
          transition: all 650ms;
          background-color:transparent;
          font-weight: 600;
          &::before{
            content:'{';
            padding-left:0;
            opacity:0;
            transition: opacity 270ms;
          }
          &::after{
            content:'}';
            padding-right:0;
            opacity:0;
            transition: opacity 270ms;
          }
          &:hover:not(.active){
            transform:scale(1.05);
            &::before{
              content:'{';
              color:rgb(0, 77, 128);
              opacity:1; 
            }
            &::after{
              content:'}';
              color:rgb(0, 77, 128);
              opacity:1;
            }
          }
        }
        .nav-link.active{
        color:#e8991a;
         border-radius:3px;
          box-shadow: 5px 4px 3px rgb(219, 216, 216);
          background-color: rgba(0, 0, 0, 0.733);
          font-weight: 200;
          
          &::after{
            content:'}';
            padding-left:4px;
            color:#e8991a;
            opacity:1;
          }
        }
       
      }
    }
  }
}

